node_modules/
*/**/node_modules/

build/
*/**/build/

bin/
*/**/bin/

.ts-node/

tsconfig.tsbuildinfo
*/**/*.tsconfig.tsbuildinfo

.tmp
*/**/*.tmp

.tmpbin
*/**/*.tmpbin

*/**/*.key

*.env
*/**/*.env

*jsout
*/**/*jsout

!.env.example
!*/**/*.env.example

yarn-error.log
*/**/*yarn-error.log

ransomk.root.config.json

.parcel-cache
dist